@media screen and (max-width:600px) {
    .music-container{
        width: 100%;
    }
    #capa{
        width: 100%;
    }
    #botoes{
        width: 100%;
    }
    #voltar{
        font-size: 2em;
    }
    #next{
        font-size: 2em;
    }
    #embaralhar{
        font-size: 1em;
    }
    #repeat{
        font-size: 1em;
    }
    #play{
        font-size: 2.8em;
    }
}